.App {
  text-align: center;
}

a {
  text-decoration: none;
}

body {
  background-color: white;
  color: black;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
 

.gallery-img {
  width: 20vw;
  height: auto;
  overflow: hidden;
}

.recipe-card {
  padding: 20px;
  overflow: hidden;
  text-decoration: none;
  color: black;
}

.recipe-card a {
  text-decoration: none;
  color: black
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: white;
  margin-bottom: 30px;
  outline: 1px solid black;
}

.gallery {
  width: 80vw;
  margin: 0 auto; 
  display: flex;
  justify-content: center;

}

.recipe-card:hover{
  background-color: rgb(236, 229, 229);
}

.top-flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;  
  width: 800px;
  margin: 0 auto;
  padding: 3rem;
}

.single-img {
  width: 60%;
  height: 60%;
  text-align: right;
  padding-left: 3rem;
}

.reviews-text {
  width: 70vw;
  text-align: left;
  margin: 0 auto;
  padding-top: 2rem;
  border-bottom: 1px black solid;
}

.review-message-text {
  border-bottom: 1px black solid;
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

.single-recipe-info {
  width: 300px;
  /* height: 100%; */
  text-align: left;
}

.single-recipe-card {
  margin: 0 auto;
}

.delete {
  margin-top: 1rem;
}

#ytplayer {
  width: 600px;
  height: 350px;
}


@media only screen and (max-width: 1100px) {
  .gallery-img {
    width: 25vw
  }
}

@media only screen and (max-width: 700px) {
  .gallery-img {
    width: 40vw
  }

  .top-flex {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;  
  }

  .single-img {
    padding-left: 0;
  }


  #ytplayer {
    width: 90vw;
    height: 50vh;
  }
}

@media only screen and (max-width: 500px) {
  .gallery-img {
    width: 75vw
  }

  .single-img {
    width: 80vw;
  }
}