.App {
  text-align: center;
}

body {
  background-color: blue;
  color: white;
}


#ytplayer {
  width: 600px;
  height: 350px;
}

/* .recipe-card {
  width: 30%;
  margin: 0 auto;
} */


.gallery-img {
  width: 300px;
  height: auto;
}