.App {
  text-align: center;
}

body {
  background-color: white;
  color: black;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
 

.gallery-img {
  width: 20vw;
  height: auto;
  overflow: hidden;
}

.recipe-card {
  /* width: 200px; */
  padding: 20px;
  overflow: hidden;
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: white;
  margin-bottom: 30px;
  outline: 1px solid black;
  /* width: 220px; */
}

.gallery {
  width: 80vw;
  margin: 0 auto; 
  display: flex;
  justify-content: center;

  /* padding: 100px */
}

.recipe-card:hover{
  background-color: rgb(236, 229, 229);
}

#ytplayer {
  width: 600px;
  height: 350px;
}

#hero {
  height: 33vh;
  /* background-size: cover; */

  
}


#main-text {
  color: black;
  top: 5%;
  left: 10%;
  width: 60%;
  max-height: 80%;
  text-align: left;
  font-size: 2rem;
  margin: 0 auto;
}


